.add-path{
  position: absolute;
  height: 90vh;
  z-index: 1;
  background-color: azure;
  width: 90%;
  margin: auto;
}
.path-list{
  height: 90vh;
  overflow-y: auto;
}
.path-list-item{
  min-height: 10%;
}
.path-list>li{
  cursor: pointer;
}
.modal-dialog{
  max-width: 90%!important;
}

@media only screen and (max-width: 1200px) {
  .path-list-item {
    font-size: 12px;
  }
  .path-title{
    font-size: 14px;
  }
}
@media only screen and (max-width: 600px) {
  .path-description{
    display: none;
  }
}