.add-path{
  position: absolute;
  height: 90vh;
  z-index: 1;
  background-color: azure;
  width: 90%;
  margin: auto;
}
.path-list{
  height: 90vh;
  overflow-y: auto;
}
.path-list>li{
  cursor: pointer;
}
.modal-dialog{
  max-width: 90%!important;
}